<!DOCTYPE HTML>
<html lang="en">
    <head>
        <!--=============== basic  ===============-->
        <meta charset="UTF-8">
        <title>About Us - Ad-hoc Referral</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="robots" content="index, follow"/>
        <meta name="keywords" content=""/>
        <meta name="description" content=""/>
        <!--=============== css  ===============-->	
        <link type="text/css" rel="stylesheet" href="/resources/css/reset.css">
        <link type="text/css" rel="stylesheet" href="/resources/css/plugins.css">
        <link type="text/css" rel="stylesheet" href="/resources/css/style.css">
        <!--=============== favicons ===============-->
        <link rel="shortcut icon" href="/resources/images/favicon.ico">
    </head>
    <body>
        <div class="loader"><i class="fa fa-refresh fa-spin"></i></div>
        <!--================= main start ================-->
        <div id="main">
            <!--=============== header ===============-->	
            <header>
                <div class="header-inner">
                    <div class="logo-holder">
                        <a href="/" class="ajax"><img src="/resources/images/logo.png" alt=""></a>
                    </div>
                    <div class="nav-button-holder">
                        <div class="nav-button vis-m"><span></span><span></span><span></span></div>
                    </div>
                    <div class="nav-holder">
                        <nav>
                            <ul>
                                <li><a href="/" class="ajax">Home</a></li>
                                <li><a href="/ad_med" class="ajax pp">ad-med</a></li>
                                <li>
                                    <a href="/about" class="ajax pa act-link">About us </a>
                                    <!-- Scroll navigation  -->
                                    <ul>
                                        <li><a href="about.html#sec1" class="ajax custom-scroll-link">About us </a></li>
                                        <li><a href="about.html#sec3" class="ajax custom-scroll-link">Story </a></li>
                                        <li><a href="about.html#sec4" class="ajax custom-scroll-link">Services</a></li>
                                    </ul>
                                </li>
                                <li><a href="/health_centers" class="ajax pp">Health Centers</a></li>
                                <li><a href="/contact" class="ajax">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="share-container isShare"></div>
                <a class="selectMe shareSelector transition">Share</a>						
            </header>
            <!-- header end-->	
            <!--=============== wrapper ===============-->	
            <div id="wrapper">
                <div class="content-holder elem scale-bg2 transition3" >
                    <div class="content">
                        <!-- background animation  -->		
                        <div class="bg-animate"><img src="/resources/images/body-bg.png"  class="respimg" alt=""></div>
                        <!-- wrapper inner -->	
                        <div class="wrapper-inner">
                            <section class="no-padding no-border" id="sec1">
                                <!-- page title -->		
                                <div class="container">
                                    <div class="page-title no-border">
                                        <h2>ON AD-HOC REFERRAL</h2>
                                        <h3><span>Ad-Hoc-Referral is an IT based solution Company providing
support to clients and linking them to adversity of professionals Medical,
Engineering, Architectural, Environment and Social
services through the Ad-Hoc Web site and the Ad-Hoc Application platforms. </span></h3>
                                    </div>
                                </div>
                            </section>
                            <div class="container">
                                <section class="no-border">
                                    <div class="full-width-holder">
                                        <div class="fullwidth-slider-holder">
                                            <div class="customNavigation">
                                                <a class="next-slide transition"><i class="fa fa-long-arrow-right"></i></a>
                                                <a class="prev-slide transition"><i class="fa fa-long-arrow-left"></i></a>
                                            </div>
                                            <div class="full-width owl-carousel">
                                                <!-- 1 -->
                                                <div class="item">
                                                    <img src="/resources/images/folio/slider/about.jpg" class="respimg" alt="">
                                                </div>
                                                <!-- 2 -->
                                                <div class="item">
                                                    <img src="/resources/images/folio/slider/1.jpg" class="respimg" alt="">
                                                </div>
                                                <!-- 3 -->
                                                <div class="item">
                                                    <img src="/resources/images/folio/slider/1.jpg" class="respimg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <!-- full width slider end -->
                                <section>
                                    <div class="row">
                                        <div class="col-md-8">
                                           <h2> VISION</h2>

                                            <p>  To become the region’s best referral platform aiding and accessing clients to the best medical and other professional support across the East African Region and the World, bridging businesses for a profit.</p>
                                            <br/><br/>
                                            <h2> MISSION STATEMENT</h2>

                                            <p> To provide the most effective, readily and easily usable platforms to clients to access professional support across a wide range of professions.</p>
                                            <br/><br/>
                                            <h2>CORE VALUES</h2>
                                            <p>
                                            • Integrity (Zero Tolerance)
                                            • Goal Commonality.
                                            • Team Work.<br/>
                                            • Transparency.
                                            • Accountability.
                                            • Empathy.
                                            • Respect.
                                            • Trust.
                                            </p>
                                        </div>
                                    </div>
                                </section>
                                <!-- about text end -->


                                <!-- story / resume   -->
                                <section id="sec3" class="no-border">
                                    <div class="section-title">
                                        <h3>Our story</h3>
                                    </div>
                                    <div class="resume-holder">
                                        <!-- 1 -->
                                        <div class="resume-item">
                                            <div class="resume-head">
                                                <h3>2015</h3>
                                            </div>
                                            <div class="resume-box">
                                                <div class="row">
                                                    <div class="col-md-3"></div>
                                                    <div class="col-md-9">
                                                        <h5>Mauris non ligula suscipit</h5>
                                                        <p>Vestibulum orci felis, ullamcorper non condimentum non, ultrices ac nunc. Mauris non ligula suscipit, vulputate mi accumsan, dapibus felis. Nullam sed sapien dui. Nulla auctor sit amet sem non porta. Integer iaculis tellus nulla, quis imperdiet magna venenatis vitae</p>
                                                        <span class="show-hidden-info"></span>
                                                        <div class="hidden-info">
                                                            <ul class="inline-gallery popup-gallery">
                                                                <li>
                                                                    <div class="box-item">
                                                                        <a href="/resources/images/folio/thumbs/1.jpg">
                                                                        <span class="overlay"></span>
                                                                        <img src="/resources/images/folio/thumbs/1.jpg" alt="" class="respimg">
                                                                        </a>
                                                                    </div>
                                                                </li>
                                                                <li>
                                                                    <div class="box-item">
                                                                        <a href="/resources/images/folio/thumbs/1.jpg">
                                                                        <span class="overlay"></span>
                                                                        <img src="/resources/images/folio/thumbs/1.jpg" alt="" class="respimg">
                                                                        </a>
                                                                    </div>
                                                                </li>
                                                                <li>
                                                                    <div class="box-item">
                                                                        <a href="/resources/images/folio/thumbs/1.jpg">
                                                                        <span class="overlay"></span>
                                                                        <img src="/resources/images/folio/thumbs/1.jpg" alt="" class="respimg">
                                                                        </a>
                                                                    </div>
                                                                </li>
                                                                <li>
                                                                    <div class="box-item">
                                                                        <a href="/resources/images/folio/thumbs/1.jpg">
                                                                        <span class="overlay"></span>
                                                                        <img src="/resources/images/folio/thumbs/1.jpg" alt="" class="respimg">
                                                                        </a>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- 2 -->
                                        <div class="resume-item">
                                            <div class="resume-head">
                                                <h3>2012</h3>
                                            </div>
                                            <div class="resume-box">
                                                <div class="row">
                                                    <div class="col-md-3"></div>
                                                    <div class="col-md-9">
                                                        <h5>Mauris non ligula suscipit</h5>
                                                        <p>Vestibulum orci felis, ullamcorper non condimentum non, ultrices ac nunc. Mauris non ligula suscipit, vulputate mi accumsan, dapibus felis. Nullam sed sapien dui. Nulla auctor sit amet sem non porta. Integer iaculis tellus nulla, quis imperdiet magna venenatis vitae</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- 3 -->
                                        <div class="resume-item">
                                            <div class="resume-head">
                                                <h3>2010</h3>
                                            </div>
                                            <div class="resume-box">
                                                <div class="row">
                                                    <div class="col-md-3"></div>
                                                    <div class="col-md-9">
                                                        <h5>Mauris non ligula suscipit</h5>
                                                        <p>Vestibulum orci felis, ullamcorper non condimentum non, ultrices ac nunc. Mauris non ligula suscipit, vulputate mi accumsan, dapibus felis. Nullam sed sapien dui. Nulla auctor sit amet sem non porta. Integer iaculis tellus nulla, quis imperdiet magna venenatis vitae</p>
                                                        <span class="show-hidden-info"></span>
                                                        <div class="hidden-info">
                                                            <div class="resp-video">
                                                                <iframe src="//player.vimeo.com/video/24506451?color=000000&title=0&badge=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen ></iframe> 
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <!-- resume / story end -->
                                <!-- services  -->
                                <section id="sec4">
                                    <div class="section-title">
                                        <h3>What we do</h3>
                                    </div>
                                    <div class="row">
                                        <!-- services 1 -->
                                        <div class="col-md-4">
                                            <div class="services-box box-item">
                                                <a href="/resources/images/folio/thumbs/doctor-and-patient-vector.jpg" class="image-popup">
                                                <span class="overlay"></span>
                                                <img src="/resources/images/folio/thumbs/doctor-and-patient-vector.jpg"  alt="" class="respimg">
                                                </a>
                                                <div class="services-info">
                                                    <h4>We help Professionals find clients</h4>

                                                       <p> Are you a professional doctor looking for patients? Here at at Ad-Hoc we help you get clients easily and quickly in just a few steps. simply register using or platforms and we get you started. </p>


                                                </div>
                                            </div>
                                        </div>
                                        <!-- services 2 -->
                                        <div class="col-md-4">
                                            <div class="services-box">
                                                <div class="services-image box-item">
                                                    <a href="/resources/images/folio/thumbs/client.jpg" class="popup-youtube">
                                                    <span class="overlay"></span>
                                                    <img src="/resources/images/folio/thumbs/client.jpg"  alt="" class="respimg">
                                                    </a>
                                                </div>
                                                <div class="services-info">
                                                    <h4>We help clients find professionals</h4>
                                                    <p>Ad-Hoc referral platforms enables patients(clients) to find professional doctors to help them with their health needs. Register with us as a patient and get to access all the benefits of our clients, get to set appointments with a doctor of your choice and alot more.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- services 3 -->
                                        <div class="col-md-4">
                                            <div class="services-box">
                                                <div class="services-image box-item">
                                                    <a href="/resources/images/folio/thumbs/waiting-area.jpg" class="popup-vimeo">
                                                    <span class="overlay"></span>
                                                    <img src="/resources/images/folio/thumbs/waiting-area.jpg"  alt="" class="respimg">
                                                    </a>
                                                </div>
                                                <div class="services-info">
                                                    <h4>Decongest hospitals</h4>
                                                    <p>Decongesting of major private Hospitals by their clients using the Ad-Hoc-Referral website and the Ad-Hoc-Referral Mobile Application platforms to easily and affordably schedule bookings and appointments to their respective or preferred professional physicians within their preferred hospitals. </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                        <!-- wrapper inner end   -->
                        <!-- parallax column   -->
                        <div class="img-wrap">
                            <div class="bg" style="background-image: url(/resources/images/bg/long/1.jpg)"  data-top-bottom="transform: translateY(300px);" data-bottom-top="transform: translateY(-300px);"></div>
                        </div>
                        <!-- parallax column end   -->
                        <!--to top    -->
                        <div class="to-top">
                            <i class="fa fa-long-arrow-up"></i>
                        </div>
                        <!-- to top  end -->
                        <!--=============== footer ===============-->
                        <div class="height-emulator"></div>
                        <footer>
                            <div class="footer-inner">
                                <div class="row">
                                    <div class="col-md-5">
                                        <a class="footer-logo ajax" href="index.html"><img src="/resources/images/footer-logo.png" alt=""></a>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="footer-adress">
                                            <span>USA 27TH BROOKLYN NY</span>
                                            <a href="" target="_blank">View on map</a>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <ul class="footer-contact">
                                            <li>+256 (706) 414 199</li>
                                            <li><a href="#"> services@ad-hoc-referral.com</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5"></div>
                                    <div class="col-md-7">
                                        <p> &#169; Ad-hoc Referral   2018.  All rights reserved.  </p>
                                    </div>
                                </div>
                            </div>
                            <span class="footer-decor"></span>
                        </footer>
                        <!-- footer end    -->
                    </div>
                    <!-- content  end  -->
                </div>
                <!-- content-holder  end  -->
            </div>
            <!-- wrapper end -->
        </div>
        <!-- Main end -->
        <!--=============== google map ===============-->
        <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY" type="text/javascript"></script> 
        <!--=============== scripts  ===============-->
        <script type="text/javascript" src="/resources/js/jquery.min.js"></script>
        <script type="text/javascript" src="/resources/js/plugins.js"></script>
        <script type="text/javascript" src="/resources/js/core.js"></script>
        <script type="text/javascript" src="/resources/js/scripts.js"></script>
    </body>
</html>