<!DOCTYPE HTML>
<html lang="en">
    <head>
        <!--=============== basic  ===============-->
        <meta charset="UTF-8">
        <title>Ad-Med - Ad-hoc Referral </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="robots" content="index, follow"/>
        <meta name="keywords" content=""/>
        <meta name="description" content=""/>
        <!--=============== css  ===============-->	
        <link type="text/css" rel="stylesheet" href="/resources/css/reset.css">
        <link type="text/css" rel="stylesheet" href="/resources/css/plugins.css">
        <link type="text/css" rel="stylesheet" href="/resources/css/style.css">
        <!--=============== favicons ===============-->
        <link rel="shortcut icon" href="/resources/images/favicon.ico">
    </head>
    <body>
        <div class="loader"><i class="fa fa-refresh fa-spin"></i></div>
        <!--================= main start ================-->
        <div id="main">
            <!--=============== header ===============-->	
            <header>
                <div class="header-inner">
                    <div class="logo-holder">
                        <a href="/" class="ajax"><img src="/resources/images/logo.png" alt=""></a>
                    </div>
                    <div class="nav-button-holder">
                        <div class="nav-button vis-m"><span></span><span></span><span></span></div>
                    </div>
                    <div class="nav-holder">
                        <nav>
                            <ul>
                                <li><a href="/" class="ajax">Home</a></li>
                                <li><a href="/ad_med" class="ajax pp act-link">Ad-Med</a></li>
                                <li>
                                    <a href="/about" class="ajax pa">About us </a>
                                    <!-- Scroll navigation  -->
                                    <ul>
                                        <li><a href="about.html#sec1" class="ajax custom-scroll-link">About us </a></li>
                                        <li><a href="about.html#sec3" class="ajax custom-scroll-link">Story </a></li>
                                        <li><a href="about.html#sec4" class="ajax custom-scroll-link">Services</a></li>
                                    </ul>
                                </li>
                                <li><a href="/health_centers" class="ajax pp">Health Centers</a></li>
                                <li><a href="/contact" class="ajax">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="share-container isShare"></div>
                <a class="selectMe shareSelector transition">Share</a>						
            </header>
            <!-- header end-->	
            <!--=============== wrapper ===============-->	
            <div id="wrapper">
                <div class="content-holder elem scale-bg2 transition3" >
                    <div class="content full-height mm">
                        <div class="wrapper-inner full-height no-padding">
					<!--=============== Change the value data-mwa="0" - at your in milliseconds. If you put a value of 0 - the function to turn off autoplay  ===============-->
                        <div class="swiper-container" id="horizontal-slider" data-mwc="1" data-mwa="0">
                                <div class="swiper-wrapper">
                                    <!--=============== 1 ===============-->	
                                    <div class="swiper-slide">
                                        <br>
                                        <div class="bg" style="background-image:url(/resources/images/bg/1.jpg)"></div>
                                        <div class="overlay"></div>
                                        <div class="zoomimage"><img src="/resources/images/bg/1.jpg" class="intense" alt=""><i class="fa fa-expand"></i></div>
                                    </div>
                                    <!--=============== 4 ===============-->	
                                    <div class="swiper-slide">
                                        <div class="bg" style="background-image:url(/resources/images/bg/1.jpg)"></div>
                                        <div class="overlay"></div>
                                        <div class="zoomimage"><img src="/resources/images/bg/1.jpg" class="intense" alt=""><i class="fa fa-expand"></i></div>
                                    </div>
                                    <!--=============== 2 ===============-->	
                                    <div class="swiper-slide">
                                        <div class="bg" style="background-image:url(/resources/images/bg/1.jpg)"></div>
                                        <div class="overlay"></div>
                                        <div class="zoomimage"><img src="/resources/images/bg/1.jpg" class="intense" alt=""><i class="fa fa-expand"></i></div>
                                    </div>
                                    <!--=============== 3 ===============-->	
                                    <div class="swiper-slide">
                                        <div class="bg" style="background-image:url(/resources/images/bg/1.jpg)"></div>
                                        <div class="zoomimage"><img src="/resources/images/bg/1.jpg" class="intense" alt=""><i class="fa fa-expand"></i></div>
                                        <div class="overlay"></div>
                                    </div>
                                </div>
                                <div class="swiper-nav-holder hor">
                                    <a class="swiper-nav arrow-left transition " href="#"><i class="fa fa-long-arrow-left"></i></a>
                                    <a class="swiper-nav  arrow-right transition" href="#"><i class="fa fa-long-arrow-right"></i></a>
                                </div>
                            </div>
                            <div class="pagination"></div>
                        </div>
                    </div>
                    <div class="fixed-column">
                        <div class="container">
                            <section  class="no-border">
                                <div class="section-title">
                                    <h3>Project title</h3>
                                </div>
                                <div class="project-details">
									<h3>Cras sed rutrum lacus, eu eleifend sem. Proin faucibus consectetur</h3>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.  </p>
                                    <p>  All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary .</p>
                                    <ul class="descr">
                                        <li><span>Date :</span> 26.05.2014 </li>
                                        <li><span>Client :</span>  House Big </li>
                                        <li><span>Status :</span> Completed </li>
                                        <li><span>Location : </span>  <a href="https://goo.gl/maps/UzN5m" target="_blank"> Kharkiv Ukraine  </a></li>
                                    </ul>
                                </div>
                                <div class="content-nav">
                                    <ul>
                                        <li><a href="#" class="ajax"><i class="fa fa-long-arrow-left"></i></a></li>
                                        <li><span>/</span></li>
                                        <li><a href="#" class="ajax"><i class="fa fa-long-arrow-right"></i></a></li>
                                    </ul>
                                    <div class="p-all">
                                        <a href="/" class="ajax"><i class="fa fa-th-large"></i></a>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            <!-- wrapper end -->
        </div>
        <!-- Main end -->
        <!--=============== google map ===============-->
        <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY" type="text/javascript"></script> 
        <!--=============== scripts  ===============-->
        <script type="text/javascript" src="/resources/js/jquery.min.js"></script>
        <script type="text/javascript" src="/resources/js/plugins.js"></script>
        <script type="text/javascript" src="/resources/js/core.js"></script>
        <script type="text/javascript" src="/resources/js/scripts.js"></script>
    </body>
</html>