<!DOCTYPE HTML>
<html lang="en">
    <head>
        <!--=============== basic  ===============-->
        <meta charset="UTF-8">
        <title>Contact - Ad-hoc Referral</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="robots" content="index, follow"/>
        <meta name="keywords" content=""/>
        <meta name="description" content=""/>
        <!--=============== css  ===============-->	
        <link type="text/css" rel="stylesheet" href="/resources/css/reset.css">
        <link type="text/css" rel="stylesheet" href="/resources/css/plugins.css">
        <link type="text/css" rel="stylesheet" href="/resources/css/style.css">
        <!--=============== favicons ===============-->
        <link rel="shortcut icon" href="/resources/images/favicon.ico">
    </head>
    <body>
        <div class="loader"><i class="fa fa-refresh fa-spin"></i></div>
        <!--================= main start ================-->
        <div id="main">
            <!--=============== header ===============-->	
            <header>
                <div class="header-inner">
                    <div class="logo-holder">
                        <a href="/" class="ajax"><img src="/resources/images/logo.png" alt=""></a>
                    </div>
                    <div class="nav-button-holder">
                        <div class="nav-button vis-m"><span></span><span></span><span></span></div>
                    </div>
                    <div class="nav-holder">
                        <nav>
                            <ul>
                                <li><a href="/" class="ajax">Home</a></li>
                                <li><a href="/ad_med" class="ajax pp">Ad-Med</a></li>
                                <li>
                                    <a href="/about" class="ajax pa">About us </a>
                                    <!-- Scroll navigation  -->
                                    <ul>
                                        <li><a href="about.html#sec1" class="ajax custom-scroll-link">About us </a></li>
                                        <li><a href="about.html#sec3" class="ajax custom-scroll-link">Story </a></li>
                                        <li><a href="about.html#sec4" class="ajax custom-scroll-link">Services</a></li>
                                    </ul>
                                </li>
                                <li><a href="/health_centers" class="ajax pp">Health Centers</a></li>
                                <li><a href="/contact" class="ajax act-link">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="share-container isShare"></div>
                <a class="selectMe shareSelector transition">Social Media</a>
            </header>
            <!-- header end-->	
            <!--=============== wrapper ===============-->	
            <div id="wrapper">
                <div class="content-holder elem scale-bg2 transition3" >
                    <div class="content">
                        <!-- background animation  -->		
                        <div class="bg-animate"><img src="/resources/images/body-bg.png"  class="respimg" alt=""></div>
						<!-- wrapper-inner -->
                        <div class="wrapper-inner">
                            <div class="container">
                                <div class="page-title no-border">
                                    <h2>Contact us</h2>
                                </div>

								<!-- contact info  -->
                                <section class="no-border">
                                    <div class="contact-details">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <h3>Contact  details : </h3>
                                            </div>
                                            <div class="col-md-3">
                                                <h4>Office in Kampala</h4>
                                                <ul>
                                                    <li><a href="#">27th Brooklyn New York, NY 10065</a></li>
                                                    <li><a href="#">+256 (706) 414 199</a></li>
                                                    <li><a href="#">services@ad-hoc-referral.com</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-3">
                                                <h4>Find Us On : </h4>
                                                <ul>
                                                    <li><a href="#">Facebook</a></li>
                                                    <li><a href="#">Twitter </a></li>
                                                    <li><a href="#">Instagram</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </section>
								<!-- contact info  end-->
								<!-- contact form -->
                                <section>
                                    <div class="contact-form-holder">
                                        <div id="contact-form">
                                            <div id="message"></div>
                                            <form method="post" action="/resources/php/contact.php" name="contactform" id="contactform">
                                                <input name="name" type="text" id="name"  onClick="this.select()" value="Name" >
                                                <input name="email" type="text" id="email" onClick="this.select()" value="E-mail" >
												<input type="text"  name="phone" id="phone" onClick="this.select()" value="Phone" /> 
                                                <textarea name="comments"  id="comments" onClick="this.select()" >Message</textarea>
                                                    <div class="verify-wrap">
                                                        <span class="verify-text"> How many gnomes were in the story about the "Snow-white" ?</span> 
                                                        <input name="verify" type="text" id="verify" onClick="this.select()" value="0" >
                                                    </div>   												
                                                <button type="submit"  id="submit"><span>Send </span> <i class="fa fa-long-arrow-right"></i></button>
                                            </form>
                                        </div>
                                    </div>
                                </section>
								<!-- contact form  end-->
                            </div>
                        </div>
                        <!-- wrapper inner end   -->
                        <!-- parallax column   -->
                        <div class="img-wrap">
                            <div class="bg" style="background-image: url(/resources/images/bg/long/1.jpg)"  data-top-bottom="transform: translateY(300px);" data-bottom-top="transform: translateY(-300px);"></div>
                        </div>
                        <!-- parallax column end   -->
                        <!--to top    -->
                        <div class="to-top">
                            <i class="fa fa-long-arrow-up"></i>
                        </div>
                        <!-- to top  end -->
                        <!--=============== footer ===============-->
                        <div class="height-emulator"></div>
                        <footer>
                            <div class="footer-inner">
                                <div class="row">
                                    <div class="col-md-5">
                                        <a class="footer-logo ajax" href="index.html"><img src="/resources/images/footer-logo.png" alt=""></a>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="footer-adress">
                                            <span>Tusky's Building Level 2,<br/>
                                                Plot 1615, Kira Road,<br/>
                                                Ntinda - Kampala, Central Region.<br/>
                                                P.O.Box 2063 Kampala (U)</span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <ul class="footer-contact">
                                            <li>+256 (706) 414 199</li>
                                            <li><a href="#">services@ad-hoc-referral.com</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5"></div>
                                    <div class="col-md-7">
                                        <p> &#169; Ad-hoc Referral   2018.  All rights reserved.  </p>
                                    </div>
                                </div>
                            </div>
                            <span class="footer-decor"></span>
                        </footer>
                        <!-- footer end    -->
                    </div>
                    <!-- content  end  -->
                </div>
                <!-- content-holder  end  -->
            </div>
            <!-- wrapper end -->
        </div>
        <!-- Main end -->
        <!--=============== google map ===============-->
        <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY" type="text/javascript"></script> 
        <!--=============== scripts  ===============-->
        <script type="text/javascript" src="/resources/js/jquery.min.js"></script>
        <script type="text/javascript" src="/resources/js/plugins.js"></script>
        <script type="text/javascript" src="/resources/js/core.js"></script>
        <script type="text/javascript" src="/resources/js/scripts.js"></script>
    </body>
</html>